body{
overflow: hidden;
  background-color: white;
}
.a1{
  overflow: hidden;
  width: 100%;
  height: 115px;
  background-color:rgb(2, 2, 235);
}
#b1{
  position: relative;
  left: 850px;
  bottom: 40px;

}
#b2{
  position: relative;
  left: 853px;
  bottom: 40px;

}
#b3{
  position: relative;
  left:  325px;
  bottom: 10px;
  color: red;

}
#b4{
  position: relative;
  left: 450px;
  bottom: 60px;
  color: white;
}
#b5{
  position: relative;
  left: 480px;
bottom: 60px;
color: white;

}
.a2{
  overflow: hidden;
  position: relative;
  left: 66%;
  top: 40px;
}
#z1{
  position: relative;
  width: 347px;
}
#z2{
  position: relative;
  width: 347px;
}

#k1{
  width: 100px;
  background-color: green;
  color: white;


}
.a3{
  position: relative;
  left: 10%;

}
#c1{
  position: relative;
  bottom: 450px;
}
#c2{
  position: relative;
  width: 200px;
  height: 80;
  bottom: 340px;
}
#c3{
  position:relative;
  width: 200px;
  height: 95px;
  bottom: 340px;
}
#g1{
  position: relative;
  right: 50px;
  bottom: 421px;
}
#u1{
  position: relative;
  left: 5%;
  color: white;
}
